body{
    margin: 0;
    padding: 0;
    background: white;
}
@keyframes slide-in{
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}
.v-enter-active, .v-leave-active{
    animation: slide-in 5s ease;
}
.v-enter{
    animation: slide-in 1s ease;
}
/*#app img{
    background-size: cover;
    background-position: center, center;
    min-height: 100vh;
    position: relative;
    width: 100%;
}*/
.backimg{
    size: cover;
    position: center center;
    min-height: 100vh;
    position: relative;
    width: 100%;
}
.title {
    padding: 0;
    position: fixed;
    left: 50px;
    top: 50px;
}